body, h1, h2, h3, h4, h5, h6, button, .button {font-family: 'Covered By Your Grace', cursive; color:white;}

p {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color:#404041;
}

h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 3rem;
}

.logo {width: 40%; margin: 12% auto 0; }

.project {background: #3BB9A5; padding: 40px 0; position: relative; height: auto; 

}
.project:hover { transition: all .2s;}
.project:nth-of-type(3n) {background: #FBAF3F;}
.project:nth-of-type(3n+1) {background: #00637A;}

.icon {width:3.5rem;height: 3.5rem;}
.icon:hover {
  background-image: url(img/icon-hover.svg);
}
.icon-social {width:1.75rem; height: 1.75rem; margin: 10px;}

.tabs dd > a, .tabs .tab-title > a {
  padding: 1rem 1rem;
  background-color: transparent;
}
.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 3.5rem;
  background-position: center;
}

button, .button{
border-radius: 1.5rem;
padding: .2rem 1.3rem;
color: white;
font-size: 1.4rem;
text-transform: uppercase;
letter-spacing: .15rem;
background: rgba(47, 168, 205, .3);
margin:1rem;
}
button:hover, button:focus, .button:hover, .button:focus {
background-color: rgba(47, 168, 205, 1);
}
a:hover, a:focus {
color: #2fa8cd;
}

.vertical-center-later {padding-top:45px;}
.vertical-center-later-also {padding-top: 170px;}

span {
font-size: 8.5rem;
}

span.text-content span {
display: table-cell;
text-align: center;
vertical-align: middle;
}

span.text-content {
background: rgba(255,255,255,0.5);
color: #3BB9A5;
cursor: pointer;
display: table;
height: 700px;
left: 0;
position: absolute;
top: 0;
width: 100%;
opacity: 0;
}

.project:nth-of-type(3n) span.text-content {
  color: #FBAF3F;
}
.project:nth-of-type(3n+1) span.text-content {
  color: #00637A;
}

.project:hover span.text-content {
opacity: 1;
}


footer {background: #D1D2D4; margin-top: 100px;}



form {
  margin: 150px 0;
}

input, textarea {
  float: left;
  clear: both;
  margin-bottom: 15px;
}



input[type=email] {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 3.5rem;
  outline: none;
  margin: 0 10px -15px;
  border:none;
  width: 100%;
}


input[type=text] {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.3rem;
  margin: 10px 0 0 -25px;
  border: 0;
  outline: none;
  width: 100%;
}

input[type=email]::-webkit-input-placeholder {
  color: #d1d2d4;
}

input[type=text]::-webkit-input-placeholder {
  color: #404041;
}


input[type=image] {
margin-top: 30px;
}


/* scroll arrow */
#top-header {
  height: 100%;
  text-align: center;
  clear: both;
}

.intro-arrow {
  position: absolute;
  bottom: 0;
  left: 49%;
  opacity: 0;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.intro-arrow.hidden {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
.intro-arrow:hover a {
  opacity: .7;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}
body, html {
  height: 100%;

}



