body, p, h1, h2, h3, h4, h5, h6, button, .button {font-family: 'Covered By Your Grace', cursive; color:#404041;}

button, .button {
  color:white;
}

p {
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

nav {
  padding-left:20px;
}

h1 {
font-size: 3.25rem;
letter-spacing: .25rem;
line-height: 5rem;
}

.project h2 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 3rem;
}

h2 {
letter-spacing: .2rem;
font-size: 2.5rem;
margin-bottom: 1.5rem;
}

header h1{width: 100%}
.logo {max-width: 500px;
margin: 0 auto;
margin-top: -125px;}

.project {
  background: #3BB9A5; 
  padding: 40px 0; 
  position: relative;
}

.flex-center {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.text-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(59, 185, 165, .8);
  opacity: 0;
}

.text-content span {
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 62.5em;
}

.text-content h2 {
  color: white;
  font-size: 3.5rem;
}

.text-content p {
  color: white;
  font-size: 2rem;
  letter-spacing: .25rem;
}

.project:nth-of-type(3n) span.text-content {
  background: rgba(251, 175, 63, .8);
}
.project:nth-of-type(3n+1) span.text-content {
  background: rgba(0, 99, 122, .8);
}
.project:hover span.text-content {
  opacity: 1;
}
span.text-content {
  transition: opacity 300ms ease-out;
}
.project:nth-of-type(3n) {background: #FBAF3F;}
.project:nth-of-type(3n+1) {background: #00637A;}

.icon {width: 4rem;
height: 4rem;
padding: 0 .3rem;}
.icon:hover {
  background-image: url(../img/icon-hover.svg);
  background-repeat: no-repeat;
}
.icon-social {width:1.75rem; height: 1.75rem; margin: 10px;}

.tabs dd > a, .tabs .tab-title > a {
  padding: 1rem 1rem;
  background-color: transparent;
}
.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 3.5rem;
  background-position: center;
}

button, .button{
border-radius: 1.5rem;
padding: .2rem 1.3rem;
color: white;
font-size: 1.4rem;
text-transform: uppercase;
letter-spacing: .15rem;
background: rgba(47, 168, 205, .3);
margin:1rem;
}
button:hover, button:focus, .button:hover, .button:focus {
background-color: rgba(47, 168, 205, 1);
}
a:hover, a:focus {
color: #2fa8cd;
}








footer {background: #D1D2D4; margin-top: 125px;}
footer a {
  opacity: 1;
  transition: opacity 300ms ease-out;
}
footer a:hover {
  opacity: .4;
}


form {
  margin: 150px 0;
}

input, textarea {
  float: left;
  clear: both;
  margin-bottom: 15px;
}

input[type=email] {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 3.5rem;
  outline: none;
  margin: 0 10px -15px;
  border:none;
  width: 100%;
}

input[type=email]::-webkit-input-placeholder {
  color: #d1d2d4;
}

input[type=image] {
margin-top: 30px;
opacity: .3;
transition: opacity 300ms ease-out;
}
input[type=image]:hover {
opacity: 1;
}


form p {
  margin-left: 22px;
}

@media only screen and (min-width: 64.063em) { 
  .slider-nav .slick-track:before {
  border: 1px solid #d1d2d4;
  width: 1.5rem;
  display: table;
  position: absolute;
  left: -50px;
  top: 30px;
  }

  .slider-nav .slick-track:after {
  border: 1px solid #d1d2d4;
  width: 1.5rem;
  display: table;
  position: absolute;
  right: -50px;
  top: 30px;
  }

  .slider-nav {
    margin-bottom: 60px;
  }

  .slider-nav .slick-track {
    margin: 0 auto;
    transform:none !important;
  }
  .slick-prev:before {
  content: url(../img/icon-prev.svg);
  }

  .slick-next:before {
  content: url(../img/icon-next.svg);
  }

  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }

  .slick-prev, .slick-next {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: -25px;
  }

}

.slick-center {
  background:url(../img/icon-hover.svg);
  background-repeat: no-repeat;
}




/* scroll arrow */
#top-header {
  height: 100%;
  text-align: center;
  clear: both;
}

.intro-arrow {
  position: absolute;
  bottom: 0;
  left: 49%;
  opacity: 0;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.intro-arrow.hidden {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
.intro-arrow:hover a {
  opacity: .7;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 1.5em;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -1.5em;
  }
}



